{% extends "base.html" %}
{% load static %}

{% block content %}

<p>Image details</p>
<div class="container">
    <div class="row">
        <div class="col-md-10">
           <div class="col-5">
               <img src="{{ gadget.imageurls }}">
               <h4>{{ gadget.name }}</h4>
               <p>Brand: {{ gadget.brand }}</p>
               <p>Dimensions: {{ gadget.dimensions }}</p>
               <p>ASIN: {{ gadget.asins }}</p>
               <p>Price: {{ gadget.price }}</p>

           </div>
           <div class="col-5">
               
           </div>
        </div>

    </div>

</div>

{% endblock %}